<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Metalama.Documentation" value="C:\src\Metalama-2025.1\Metalama.Documentation\artifacts\publish\private" />
    <add key="Metalama.Premium" value="C:\Users\GaelFraiteur.AzureAD\.build-artifacts\Metalama.Premium\Metalama_Metalama20251_MetalamaPremium_DebugBuild\189\artifacts\publish\private" />
    <add key="Metalama" value="C:\Users\GaelFraiteur.AzureAD\.build-artifacts\Metalama\Metalama_Metalama20251_Metalama_DebugBuild\483\artifacts\publish\private" />
    <add key="PostSharp.Engineering" value="C:\src\PostSharp.Engineering\artifacts\publish\private" />
    <add key="Metalama.Samples" value="C:\Users\GaelFraiteur.AzureAD\.build-artifacts\Metalama.Samples\Metalama_Metalama20251_MetalamaSamples_DebugBuild\124\artifacts\publish\private" />
    <add key="Metalama.Compiler" value="C:\Users\GaelFraiteur.AzureAD\.build-artifacts\Metalama.Compiler\Metalama_Metalama20251_MetalamaCompiler_ReleaseBuild\40\artifacts\packages\Release\Shipping" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Metalama.Documentation">
      <package pattern="Metalama.Documentation" />
      <package pattern="Metalama.Documentation.*" />
    </packageSource>
    <packageSource key="Metalama.Premium">
      <package pattern="Metalama.Extensions.*" />
      <package pattern="Metalama.Patterns.*" />
      <package pattern="Metalama.Licensing" />
    </packageSource>
    <packageSource key="Metalama">
      <package pattern="Metalama.Backstage*" />
      <package pattern="Metalama.Framework*" />
      <package pattern="Metalama.Extensions.*" />
      <package pattern="Metalama.Patterns.*" />
      <package pattern="Metalama.LinqPad" />
      <package pattern="Metalama.Migration" />
      <package pattern="Metalama.Testing.*" />
      <package pattern="Metalama.Tool" />
      <package pattern="Flashtrace*" />
    </packageSource>
    <packageSource key="PostSharp.Engineering">
      <package pattern="PostSharp.Engineering" />
      <package pattern="PostSharp.Engineering.*" />
    </packageSource>
    <packageSource key="Metalama.Samples">
      <package pattern="Metalama.Samples" />
      <package pattern="Metalama.Samples.*" />
    </packageSource>
    <packageSource key="Metalama.Compiler">
      <package pattern="Metalama.Compiler" />
      <package pattern="Metalama.Compiler.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>