---
uid: video-architecture-verification
summary: "Learn how to verify architecture with Metalama through validation, usage validation, and naming conventions."
keywords: "video, tutorial, architecture verification, validation, naming conventions"
created-date: 2023-12-11
modified-date: 2025-11-30
---

# Video tutorial: Verifying architecture

This video demonstrates how to use Metalama to verify your application's architecture through validation, usage validation, and naming conventions.

[!metalama-vimeo 849469382]

> [!div class="see-also"]
> * <xref:validation>
> * <xref:validating-usage>
> * <xref:naming-conventions>
