---
uid: video-architecture-verification
summary: "This is a video tutorial on verifying architecture, with additional references on validation, validating usage, and naming conventions."
created-date: 2023-12-11
modified-date: 2025-11-30
---

# Video tutorial: verifying architecture

[!metalama-vimeo 849469382]

> [!div class="see-also"]
> <xref:validation>
> <xref:validating-usage>
> <xref:naming-conventions>
